<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | PDA</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="imgs/d1.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="container-login">
            <h1>PDA Login</h1>
            <!-- <img src="imgs/d1.png" alt="Img foco" height="100px" width="00px" style="margin: 0 auto;"> -->
            <label for="id_email">Email do usuário</label>
            <input type="email" class="inp" placeholder="Email" id="id_email" required>
            <label for="id_senha">Senha</label>
            <input type="password" class="inp" placeholder="Senha" id="id_senha" required>
            <button type="submit" class="buttonStart">Entrar</button>
        </div>
    </div>

    <script src="js/front.js"></script>
</body>
</html>
